h1 {
    color: #eab308;
}
#counterDiv {
    color: #ffffff;
}
#buttonNav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
button {
    padding: 5px 10px;
    font-weight: 1000;
    width: 100px;
}
